.container {
	max-width: 1200px;
	margin: 0 auto;
}

.section {
	background-color: #f9fafb;
	padding: 5rem 0;
	margin-bottom: 6rem;
}

.title {
	font-size: 3rem;
	color: #1e3a8a;
	text-align: center;
	font-weight: bold;
}

.subtitle {
	font-weight: 300;
	font-size: 1.125rem;
	color: #9ca3af;
	text-align: center;
	margin-bottom: 3rem;
}

.flexContainer {
	display: flex;
	flex-direction: column;
}

@media (min-width: 640px) {
	.flexContainer {
		flex-direction: row;
	}
}

.cardContainer {
	display: flex;
	flex-direction: column;
	margin-top: -1rem;
}

@media (min-width: 640px) {
	.cardContainer {
		margin-top: 3.5rem;
	}
}

.card {
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.75rem;
	margin: 1.5rem;
	border-radius: 1rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	border: 1px solid #d8b4fe;
	transition: transform 0.5s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
}

.image {
	width: 33.33%;
}

.textContainer {
	display: flex;
	flex-direction: column;
	padding-left: 1.25rem;
}

.cardTitle {
	color: #1e3a8a;
	font-size: 1.5rem;
}

.cardDescription {
	font-weight: 300;
	color: #9ca3af;
}
